@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


nav {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background: #11131d;
}


nav h1 {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(164, 247, 225);
}

.button--container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s linear;
}


.create {
  color: #357cee;
}

.save {
  background: #357cee;
  border-radius: 5px;
}



.editor tr {
  border-top: 1px solid #c6cbd1;
}


.editor th,
.editor td {
  padding: 12px 55px;
  border: 1px solid #dfe2e5;
}



.editor h1 {
  font-size: 2em;
}

.editor h2 {
  font-size: 1.7em;
}

.editor h3 {
  font-size: 1.5em;
}

.editor h4 {
  font-size: 1em;
}

.editor h5 {
  font-size: 0.83em;
}

.editor h6 {
  font-size: 0.67em;
}

.editor h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}





.editor blockquote {
  color: #fff;
  margin: 10px;
  padding-left: 1.2em;
  border-left: 0.2em #666 solid;
  font-style: italic;
}


.editor code {
  background: #5c6f7382;
  color: #ccc;
  font-size: 0.9rem;
  padding: 2px 5px;
}


.editor a {
  color: #71f8a0;
  font-weight: 500;
  font-style: italic;
  font-size: 0.9rem;
  text-decoration: underline;
}

.editor li {
  list-style-type: square;
}


.fullheight {
  height: 92vh;
}



@media (hover: hover) {
  .btn {
    cursor: pointer;
    transition: 0.3s linear;
  }

  .create:hover {
    color: #07a5e9;
  }

  .save:hover {
    background: #06bdf4;
  }
}